/* About.css */

.About {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap on smaller screens */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .About-image {
    max-width: 50%;
    max-height: 300px;
    border-radius: 8px;
    margin-right: 50px;
    align-self: center;
  }
  
  .About-content {
    flex: 2;
  }
  
  .About h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .About h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .About p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .skills-list {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-list li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  
  /* Media query for screens smaller than 600px */
  @media screen and (max-width: 600px) {
    .About {
      flex-direction: column;
      margin-bottom: 60px;
    }
  
    .About-image {
      max-width: 100%; /* Make the image take up the full width on smaller screens */
      margin-right: 0; /* Remove the right margin on smaller screens */
      margin-bottom: 20px; /* Add spacing below the image on smaller screens */
    }
  }
  